html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#legendContainer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 400px;
  background-color: rgba(80, 80, 80, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 25px; /* Collapsed height */
}

#legendHeader {
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold; 
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#legendHeader img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#legendContent {
  max-height: 400px; /* Expanded height */
  overflow: auto;
}

#legendContent img {
  width: 100%;
  display: block;
}

#infoDialog {
  display: none;
}

#toggleButton {
  background-color: #eee;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  opacity: 0.7;
}

#legendContent {  
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  display: none; /* Initially hidden */
}

#legendContent img {
  width: 100%;
  border-radius: 5px;  
}

/* Make zoom buttons semi-transparent */
button {
  opacity: 0.7;
}

/* Make search widget semi-transparent */
.esri-search {
  opacity: 0.85;
}

/* Style for the search widget to match the legend font */
.esri-search__input {
  font-family: sans-serif;
  font-size: 14px;
}

/* Common style for map buttons */
.mapButton {
  position: absolute;
  width: 33px;
  height: 33px;
  background-color: #eee;
  color: #222;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  opacity: 0.7;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Style for the info dialog */
#infoDialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(50, 50, 50, 0.85);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  padding-bottom: 30px;
  width: 50%;  
  color: white;
  text-align:center;
}

/* Style for the close button */
#dialogButton {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Style for hyperlinks */
#infoDialog a {
  color: rgb(94, 220, 255);
}

/* Position styles for buttons */
#zoomInButton {
  top: 10px;
  left: 10px;
}

#zoomOutButton {
  top: 45px;
  left: 10px;
}

#homeButton {
  top: 45px;
  right: 10px;
}

#infoButton {
  top: 10px;
  right: 10px;
}

.search-widget-container {
  position: absolute;
  top: 10px;
  left: 55px;
}